.headerPerfil{
	margin-top: 2%;
}
.imgPerfil{
	width: 128px;
	height: 128px;
	border-radius: 100px;
}
.divTarjetaFind{
	margin-top: 5%;
}
.divTarjetaFind .imgProfileFind{
	width: 80%;
}
.activeTarjeta{
	background: pink;
}
.activeContenido{
	background: blue;
}
.notificacion{
	
	
	
}
.notificacion .contenidoNotificacion{
	background: red;
	padding-left: 3%;
	padding-right: 3%;
	margin-left: 2%;
	height: 100px;
}
.publicacionNews{
	height: 150px;
	background: pink;
	margin-top: 5%;
}