.opcionEnviarAlgo{
	margin-top: 3%;
}
.btnPublicar{
	border-radius: 0;
	width: 40%;
	margin: 0 auto;
	margin-top: 3%;
	background: #2ECC71;
	font-weight: bold;
	color: white;

}
.divBusquedaAmigos{
	margin-top: 3%;
}
.btnLogOff{
	background: #2ecc71;
	color: white;
	font-weight: bold;
	border-radius: 0;
}
.newsFeed{
	
	padding-bottom: 5%;
	height: 100%;
}
.contenido{
	/*padding-top: 5%;*/
	height: 600px;
}
.searchArea{
	height: 90%;
}
.divResultadoBusqueda{
	height: 90%;
	overflow-y: scroll;
	margin-top: 5%;
}
.backgroundContenidoPubli{
	/*background: #2980b9;*/
	background: #27ae60;
	color: white;
	text-align: center;
}
.headerPerfil{
	padding-top: 4%;
	background: #3498db;
	padding-bottom: 2%;
	padding-left: 3%;
}
.profileInfo{
	color: white;
	font-weight: bold;
}
.imgPerfil{
	width: 128px;
	height: 128px;
	border-radius: 100px;
}
.divTarjetaFind{
	margin-top: 5%;
	background: #ecf0f1;
	margin-left: 5%;
	margin-right: 5%;
	padding: 5%;
}
.divImageProfileFind,.divNombreFind,.divTipoContenido{
	text-align: center;
}
.divTipoContenido{
	margin-top: 4%;
	margin-bottom: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.divTarjetaFind .imgProfileFind{
	width: 40%;

}
.activeTarjeta{
	background: #ecf0f1;
}
.activeContenido{
	background: #95a5a6;
	color: white;
	font-weight: lighter;
}
.notificacion{
}

.notificacion .contenidoNotificacion{
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
	margin-left: 2%;
	height: 150px;
}
.notificacion img{
	width: 80%;
	margin-top: 25%;
}
.publicacionNews{
	height: 150px;
	background: #ecf0f1;
	margin-top: 5%;
	text-align: center;
}
.publicacionNews h3{
	font-weight: bold;
	margin-bottom: 5%;
}
.publicacionNews p{
	font-size: 1.5em;
}
