.headerPerfil{
	margin-top: 2%;
}
.imgPerfil{
	width: 128px;
	height: 128px;
	border-radius: 100px;
}
.divTarjetaFind{
	margin-top: 5%;
}
.divTarjetaFind .imgProfileFind{
	width: 80%;
}
.activeTarjeta{
	background: pink;
}
.activeContenido{
	background: blue;
}